{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block content %}
    <h1>Création d'un utilisateur</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {'label': 'Email','attr': {'class': 'form-input form-email'}}) }}
        {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-input form-mdp'}}) }}
        {{ form_row(registrationForm.nom, {'attr': {'class': 'form-input form-nom'}}) }}
        {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-input form-prenom'}}) }}
        {{ form_row(registrationForm.role, {'attr': {'class': 'form-input form-role'}}) }}
        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
