{% extends 'base.html.twig' %}

{% block title %}Articles :{% endblock %}

{% block content %}
        <div class="table-article">
            <table class="content-table">
                <thead>
                    <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Categories</th>
                    <th>Dernière date</th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td><a class="link-show" href="{{ path('article_show', { 'id': article.id }) }}">{{ article.titre }}</a></td>
                        <td>{% if article.user is not null %}
                                {{ article.user.nom }}
                            {% else %}
                                Auteur inconnu
                            {% endif %}</td>
                        <td>{{ article.categories.nom }}</td>
                        <td>{% if article.getDateModification() is null %}
                                {{ article.getDateCreation() | date('d/m/Y H:i:s') }}
                            {% else %}
                                {{ article.getDateModification() | date('d/m/Y H:i:s') }}
                            {% endif %}</td>
                        <td>
                            <a class="btn-tab" href="{{ path('article_modification', { 'id': article.id }) }}">
                                <button id="btn-tab" class="btn-tab">
                                    <img class="img-navbar" src="{{ asset('img/crayon.png') }}">
                                </button>
                            </a>
                            <a class="btn-tab" href="{{ path('article_delete', { 'id': article.id }) }}">
                                <button id="btn-tab" class="btn-tab">
                                    <img class="img-navbar" src="{{ asset('img/poubelle.png') }}">
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
