{% extends 'base.html.twig' %}
{% block title %}{{articles.titre}}{% endblock %}
{% block content %}
    <div class="content-position">
        <p>{{articles.texte|nl2br}}</p>
        {% if articles.image %}
            <div class="article-image">
                <img class="size-image" src="{{ asset('uploads/images/' ~ articles.image) }}" alt="Image de {{ articles.titre }}"> 
            </div>
        {% endif %}
    </div>
    <div class="content-details">
        <p>Créé par {{ articles.user.prenom }} {{ articles.user.nom }}, le {{articles.getDateCreation() | date('d/m/Y')}}</p>
    </div>
    <div class="comment-form">
        {{ form_start(formCommentaire) }}
        {{ form_widget(formCommentaire) }}
        <button type="submit">Ajouter un commentaire</button>
        {{ form_end(formCommentaire) }}
    </div>
    <div class="commentaire-section">
        <h3>Commentaires</h3>
        {% for commentaire in articles.commentaires %}
            <div class="comment">
                {% if articles.user %}
                    <p>Créé par {{ articles.user.prenom }} {{ articles.user.nom }}, le {{ articles.getDateCreation() | date('d/m/Y') }}</p>
                {% else %}
                    <p>Créé par un utilisateur supprimé, le {{ articles.getDateCreation() | date('d/m/Y') }}</p>
                {% endif %}
                <p>{{ commentaire.texte }}</p>
                {% if app.user is not null and app.user.role is not null and (app.user.role.nom == 'Administrateur') or commentaire.user == app.user %}
                    <a class="btn-tab" href="{{ path('commentaire_delete', { 'id': commentaire.id }) }}">
                        <button id="btn-tab" class="btn-tab" href="{{ path('commentaire_delete', { 'id': commentaire.id }) }}">
                            <img class="img-navbar" src="{{ asset('img/poubelle.png') }}">
                        </button>
                    </a>
                {% endif %}
            </div>
        {% else %}
            <p>Aucun commentaire pour cet Article</p>
        {% endfor %}
    </div>
{% endblock %}