{% extends 'base.html.twig' %}
{% block title %}{{articles.titre}}{% endblock %}
{% block content %}
    <div class="content-position">
        <p>{{articles.texte}}</p>
    </div>
    <div class="content-details">
        <p>Créé par {{ articles.user.prenom }} {{ articles.user.nom }}, le {{articles.getDateCreation() | date('d/m/Y')}}</p>
    </div>

{% endblock %}